

@charset "utf-8";
/* CSS Document */
html,body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{font:4.07vw "微软雅黑","Arial Narrow",HELVETICA;background:#eef1f6;height: 100%;}
a{text-decoration:none; color:#000000;}
a:hover{text-decoration:none;color: #FF4400;}
i,em{font-style:normal;}
b,strong{font-weight:100;}
ul,ol{list-style:none;}
img{border:none;}
input{outline:none;border: none;}
.clear:after{content:'.';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
html{height: 100%;width: 100%;}


@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1548748615736'); /* IE9 */
  src: url('../font/iconfont.eot?t=1548748615736#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAXcAAsAAAAADMwAAAWOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCEDgqLOIkkATYCJAMkCxQABCAFhG0HgQcb2wpRlE9Om+wjMd34IkcYRZJGW3f+x8P3+9HOffZ1RZMkxCLJZLrJdBJNI5uQRCt0SiWk1RL+0LvpXxKgcEFSapaZVVyRiVG4ALVgFQ8VY8+hPhH9EtUn4n/jj/1cnl1fk6Svbd7L9t+fmSFiiUzSkAhJXBulQWjEBjnRO8PwDIPUAPznExgdWA57kl+qAEKFZgzY5qNRrwHCmEspYIbe2gj7lifYh/j69DvdBcAf9+vjHESHkKRm2oWefsjTgcwj3w0T3MKBtZnDdRcAcxAZNwCF+EEMHSL80g2EUboLz0vArJeUI/Ad/M7zu+Dvht1uYhSK2q/TQmHWKaslqrSsf3lZU3WKnmiQaYaMX+WRI2CKqBxBEYkjSkRw5CmicBQsInPUL6JxNIBdmAehQwfNQxCbmYdhNz0Y7H02AXtA/AXSe6BZnrih7Ez45TQJjnFn3DOUCqB4PIFgTtgc+RyeCBMxzDpm5/iYc8rn0TMl53JMYPbn1XVPnyqeiSor/PApSNe/qHnyQk2+MBufP1etG4fQUUeI4g98quicPrGUGT+z8NRi3b5j/t749md5shsv5hETOqcTwrFxDLNPkKTD5WO1WM2UUq1aZ1FrtEqTvXL7GJSOHfA9sMWPIPEJdHa5SJljr98EFm3gDnnvO2VpvMf0hJ9+wuGDXFOTTqgQAySja8/POVdJu/hi9hm/g44lrikAOCeSn/Ad37Pw1C6n90oqhUqlLtaj1JW0f8Kl8bmxneNQqhrfA6FzH7efJNe5dvcXOGg/QCD6DayZWel9Z9uph9wjxxP7Y8X4AftBx35unzY17FJ+xDY+X+yHn7V6/YbrmUQHKIOfen8KV2bOfhrzUQe+YwfeAVTqkcJ5KKys9FOCaWXetuVJDkYxmFSEkR34zp14h27fucM6DiGncFLDtw9hWhwNjyCMwWg7jtAxBod1BEj9aCggUq5Wv9tAf/yLs5w8MkBcgGVlUfsBXsazgN/VQ7rFtWLT9UbsdiDBpHwybjJeZw//2vTbMqCPL1pc+fbfN//azXjn+XBxRfi3VYBI2gfHJUF/tPNL/FMTs3leKswlofDooQP+aYlpofMnaYNyWC16VZmBtphafFp2NSoyK1+J1uBit8fvx7xXr1CGS8Ru/3ef1sN7whs85dlP3/vsrIp3Fb71viu6grfEvrxIvVZjN0SfEmc9Tj2E0s95H37TprTm1khzv7wqIPpIdf//p/JAevShw3J32NTyDMn6P3LCcqlMB+BFSBdSuTcT+TbWiNOXqQszZ5blx7kvSpk8vzK6PKYspjx6Yc8XJdU4kdPXszHNKp9XPpfzR0xY7NhswC90fG/4/RAAlk+Im4QZgOUccZtYB8DC8WMIDlh+Ii4RQQAsLuK3Ii1piKrk33E94y3V9g2y1H+F5E901v+WxQWuthn+p8wqk3++hhoDALZW1kL3UEQ0iQrDhthAMPhEUEgY9Wn88WKbPuvWslOZ/I9bdkJIOvuQ9S5QCuMGVJOb0PTuw+i6goMnWywIUQZcMwggrDsKyap/kK27RymMT6Ha9Ss060HA6HV4HXNyKYwwx4I0NqSja9tpo5ZtYgyvDXptq5G+uUFjiWpdrgpZrMYsHRUemawWoCZk6WIHa4s+2mZjaMbCNtL54GKooYGlTRa2Dmlt4QabzZQcEcGQbhCuZRsB9JgFomGD6NBqtdvKRlqsJszMNjD1+dUQvWYNNCwFQ0rKKoiFlXHptCjhIitQCkxNlYacSmerFnrRbCjAoM3eFqxGtHwUQBr0EotmIq9VB9GyCWdoUDBJFoGmYqqawoe3NJ7rRTDS3neIFDlK1GjRRR9DjIZvrA6t0LKmdoHVwDa3IwGDmhqQ0SPmjxLqnRatzVoDIklYziatgZaZrIahEwAA') format('woff2'),
  url('../font/iconfont.woff?t=1548748615736') format('woff'),
  url('../font/iconfont.ttf?t=1548748615736') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg?t=1548748615736#iconfont') format('svg'); /* iOS 4.1- */
}

/******************* 1像素 ***********************/
.one-top-px{
	position: relative;
}
.one-top-px:before{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	border-top: 1px solid #dfdfdf;
	position: absolute;
	top: -1px;
	left: 0;
	transform: scaleY(0.5);
}

.one-bottom-px{
	position: relative;
}
.one-bottom-px:after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dfdfdf;
	position: absolute;
	left: 0;
	bottom: -1px;
	transform: scaleY(0.5);
}

/************************ iconfont ***********************/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e60a";
}
.icon-shouye-copy:before {
  content: "\e687";
}

.icon-shouye1:before {
  content: "\e611";
}
.icon-shouye1-copy:before {
  content: "\e686";
}

.icon-fenlei:before {
  content: "\e61c";
}
.icon-fenlei-copy:before {
  content: "\e683";
}

.icon-gouwuche:before {
  content: "\e600";
}
.icon-gouwuche-copy:before {
  content: "\e684";
}

.icon-wode:before {
  content: "\e610";
  font-weight: 600;
}
.icon-wode-copy:before {
  content: "\e685";
}

/************************************** 按钮 ***************************************/

.bnt {
    line-height: 45px;
    margin: 0 auto;
    width: 6.87rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 0.68rem;
    display: block;
    font-size: 15px;
    background: #19ad6a;
    color: #fff;
    width: 5.4rem;
    margin: 0 auto;
    border-radius: 0.6rem;
    box-shadow: #d1efe1 4px 6px 15px 0px;
    /* margin-top: 0.47rem; */
}

.button{
line-height: 45px;
text-align: center;
color: #fff;
height: 45px;
 border-radius: 0.6rem;
}
/************************************** 背景图 ***************************************/
.j1Png {
    display: inline-block;
    background-image: url(/static/images/jl.png);
    background-repeat: no-repeat;
    background-size: 5.8rem 1.86rem;
}
  .navImg{
    background-image: url(/static/images/banner.png);
    background-repeat: no-repeat;
    background-size: 4.82rem 1.97rem;
    display: inline-block;
  }

.accountImg{
    display: inline-block;
    background-image: url(/static/images/account.png);
    background-repeat: no-repeat;
    background-size: 3.12rem 2.95rem;
}
  .page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.page {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 49px;
    z-index: 10;
    overflow: hidden;
    background: #fff;
    height: 100%;
}
.mint-indicator-wrapper{
  z-index:99999;
}


   ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cecece;
    font-size: 13px;
  }

   :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cecece;
    font-size: 13px;
    ;
  }

   ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cecece;
    font-size: 13px;
  }

   :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cecece;
    font-size: 13px;
  }
