.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# Editor directories and files
.idea
dist.zip
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.env.*.local
.env.local




QualityLife.html
Moutai.html
NewYear.html
Christmas.html
SpringFestival.html
AnnualGoods.html
QualityLifeH.html
static/images/QualityLife/
static/images/Moutai/
static/images/NewYear/
static/images/Christmas/
static/images/SpringFestival/
static/images/AnnualGoods/
static/images/staticPage/
